/*estilos noam chomsky*/
.equiponoam{
    margin-bottom: 30px;
}


.members {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .member {
        margin: 30px;
        text-align: center;
    }

    .member img {
        border-radius: 50%;
        max-width: 150px; /* Tamaño máximo de la imagen */
        height: auto;
        margin-bottom: 30px;
    }

    .member p {
        margin-top: 5px;
    }

    .quote-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .quote {
        padding: 10px;
        border-radius: 5px;
        margin: 5px;
        text-align: center;
        color: white;
        width: calc(33.33% - 10px); /* Ancho para tres citas en una fila */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quote-blue {
        background-color: #0000FF; /* Azul */
    }

    .quote-black {
        background-color: #000000; /* Negro */
    }

    .quote-red {
        background-color: #FF0000; /* Rojo */
    }

    .quote-yellow {
        background-color: #BE8C29; /* Amarillo */
    }

    .quote-yellow-inside {
        background-color: #031926; /* Interior amarillo */
    }

    .quote-green {
        background-color: #008000; /* Verde */
    }

    .quote p,
    .quote strong {
        color: white !important; /* Forzamos el color blanco */
        margin: 0; /* Ajustamos el margen */
    }

    .quote strong {
        margin-bottom: 10px;
    }

    .quote-container {
        text-align: center;
    }

    .additional-info {
        text-align: center;
    }

    
    
/*estilos encabezado crear equipos y etapas*/
.row {
    margin-top: 50px; /* Ajusta el valor según sea necesario */
    
}

.encabezado {
    text-align: center; /* Centra el contenido del div */
    
}

.encabezado h3 {
    margin-bottom: 25px; /* Espacio inferior entre h3 y p */
}



/*estilos imagenes de crear equipos y etapas*/
.imagencrear > p {
    margin-top: 35px; /* Espacio entre la imagen y el botón */
    text-align: center; /* Centra el texto del botón */
}

.imagencrear {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alinea verticalmente los elementos */
}
.imagencrear > img {
    max-width: 400px; /* Limitamos el ancho máximo de la imagen */

}


/*estilos boton crea tu vuelta*/
.btn-outline-primary:hover {
  background-color: transparent !important;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.btn-outline-success:hover {
  background-color: transparent !important;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.btn-outline-danger:hover {
  background-color: transparent !important;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}


.ciclistaimg {
    display: flex; /* Usa flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    
    /* Agrega aquí cualquier otro estilo que desees */
}

/*animaciones para el logo y letra de la home*/

.zooming-text {
    animation: zoom 2s infinite alternate, shine 2s infinite alternate;
    line-height: 3;
    letter-spacing: 6px;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
@keyframes shine {
    0% {
        text-shadow: 0 0 10px rgba(215,27,27,1); /* sombra blanca */
    }
    50% {
        text-shadow: 0 0 20px rgba(215,27,27,1); /* sombra más grande */
    }
    100% {
        text-shadow: 0 0 10px rgba(215,27,27,1); /* volver a la sombra inicial */
    }
}

/*nombre de la app en el logo de la home*/
.nombreapp{
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
* {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  color:#ffd700 !important;
}

body {

    background-color: #031926;

    color: white; /* Cambia el color del texto a blanco para una mejor visibilidad */
}

.background-right {
    z-index:-10;
    position:fixed;
    height:100vh;
    left:60vw;
    transform: rotateY(45deg)  rotateZ(20deg);
}
.background-left {
    z-index:-10;
    position:fixed;
    height:100vh;
    right:60vw;
    transform: rotateY(-45deg)  rotateZ(-20deg);
}

main > .container {
    padding: 120px 15px 20px;
}

/*estilos para el logo del nav*/
header > nav > .container > a > img {
    width: 80px;
}

/*estilos para el header*/
header nav a {
    color: black;
    text-decoration: none;
    position: relative;
    transition: color 0.3s, border-color 0.3s;
    border-top: 2px solid transparent; /* Borde transparente arriba */
    border-bottom: 2px solid transparent; /* Borde transparente abajo */
}

header nav a:hover {
    color: #007BFF; /* Cambio de color a azul */
    border-top-color: blue; /* Cambio de color del borde superior a azul */
    border-bottom-color: blue; /* Cambio de color del borde inferior a azul */
}



.footer {
    background-color: #031926;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.tabla {
    background-color: greenyellow; /* Cambia el color de fondo de la tabla a verde amarillento */
}

nav {
    background-color: rgb(3,25,38);
}

.container {
    /*background-color: rgba(3,25,38,0.7);  Cambia el color de fondo de la sección principal a negro */
    color: white; /* Cambia el color del texto a blanco */
}

/*.grid-view tbody tr:nth-child(1) {
    background-color: #ffd700;  1- Oro 
    color: black !important;
}

.grid-view tbody tr:nth-child(2) {
    background-color: #c0c0c0;  2- Plata 
    color: black !important;
}

.grid-view tbody tr:nth-child(3) {
    background-color: #cd7f32;  3- Bronce 
    color: black !important;
}*/


/* La parte de la simulación: */
.etapa-titulo:hover + .etapa-log {
    display:block;
    transition: 2s;
}

.etapa-log {
    display:none;
}

.etapa-log:hover {
    display:block;
    transition: 2s;
}

.titulo-resultados:hover + .etapa-resultado {
    display:block;
    transition: 2s;
}

.etapa-resultado {
    display:none;
}

.etapa-resultado:hover {
    display:block;
    transition: 2s;
}
/*-------------------------*/

.etapa-item {
    display:flex;
    justify-content: center;
    padding: 2%;
}

.maillot {
    display: flex;
    justify-content: space-evenly;
}

.nombre-imagen {
    display:flex;
    flex-direction: column;
}

.nombre-imagen > img {
    padding: 2%;
    max-width: 20vw;
}

.maillot {
    padding: 2%;
}

.resultado * {
    margin: 2%;
}

.opinion {
    margin-top: 2.5vw;
}

.form-control {
    background-color: #010101 !important;
}

.iniciar {
    width: 33.33%;
}

.iniciar > * {
    margin-top: 1vw;
}
.iniciar > * > * {
    margin-top: 1vw;
}
